<a href='/'>Clubes</a>
<img src={{equipo.crestUrl}} alt="">
<h2>{{equipo.name}}</h2>
<h2>{{equipo.area.name}}</h2>
<h2>{{equipo.tla}}</h2>
<h2>{{equipo.clubColors}}</h2>
<a href="/equipo/{{equipo.id}}/editar">Editar</a>
<a href="#">Borrar</a>