<a href='/'>Clubes</a>
<img src={{equipo.crestUrl}} alt="">
<h2>{{equipo.name}}</h2>
<h2>{{equipo.address}}</h2>
<h2>{{equipo.founded}}</h2>
<h2>{{equipo.website}}</h2>
<h2>{{equipo.venue}}</h2>
<a href="#">Editar</a>
<a href="#">Borrar</a>