<h1>CRUD DE CLUBES</h1>
<h2>Hay {{equipos.length}} equipos</h2>
<a href="/equipo/crear">Agregar</a>
<table>
    <thead>
        <tr>
            <th>Equipo</th>
            <th>Pais</th>
        </tr>
    </thead>
    <tbody>
        {{#each equipos}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.area.name}}<a href="/equipo/{{@index}}/ver">Ver</a><button class='borrar' data-doc='{{@index}}'>Borrar</button></td>
          </tr>
        {{/each}}
    </tbody>
</table>
<script>
  const botones = document.querySelectorAll('button.borrar');
  botones.forEach((boton) => {
    boton.addEventListener('click', (e) => {
    const endpoint = `/equipo/${boton.dataset.doc}`
    fetch(endpoint, {
      method: 'DELETE',
      headers : { 
        'Content-Type': 'application/json',
        'Accept': 'application/json'
       }
    })
    .then((response) => response.json())
    .then((data) => window.location.href = data.redirect)
    })
  })
  

</script>